{% extends "base.html"%}
{% block title %}<h1>Current Active Countdowns</h1>{% endblock %}

{% block content %}
    {% if list_of_events %}
        <ul>
        {% for event in list_of_events %}
            <li class="event-list-item"><a href="{% url 'countdown:detail' event.id %}" class="event-list-item_a">
                <div class="event-list-item_div">
                <p class="event-list-item_p">{{ event.heading_text }}</p>
                <span>{{ event.date.date|timeuntil }}</span>
                </div>
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No events are registered.</p>
    {% endif %}
{% endblock %}